





.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*  */
.greeting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:35px 100px 0 100px;
}
.greeting-title .title{
    font-size:28px;
    font-weight: bold;
    color:#0D1321;
    cursor: pointer;
}
.download-resume .download a{
    font-size:20px;
    font-weight: 400;
    color:#0D1321;
    text-decoration: none;

}
/* hero section style */
#hero{
    height: 652px;
    background-image: url('../images/Hero-bg.png');
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#hero .hero-contain{
    width: 998px;
    height: 581px;
}
#hero .hero-img{
    width: 240px;
    height: 240px;
    margin:0 auto;
}
#hero .title{
    font-size:48px;
    font-weight: bold;
    color:#0D1321;
    text-align: center;
}
#hero .description{
    font-size:16px;
    font-weight: 400;
    color:#0D1321;
    text-align: center;
    width: 852px;
    height: 52px;
    margin:0 auto;
}
.btn-container{
    text-align: center;
}
.btn{
    padding:14px 22px 14px 22px;
    background-color: #000;
    color:#fff;
    font-size:20px;
    font-weight: 400;
    border-radius: 8px;

}
/* contain section style */
.contain{
    background-color:hsl(0, 0%, 97%);
    width:1140px;
    height: 1393px;
    margin:0 auto;
    padding:80px 97px;
    border-radius: 16px;
    margin-bottom:80px;
}
.container{
   
}
.container-area{
    width: 852px;
    height: 113px;
    margin:0 auto;
}
.container .container-title{
    font-size:32px;
    font-weight: bold;
    color:#0D1321;
    text-align: center;
}
.container .title-description{
    font-size:16px;
    font-weight: 400;
    color:#0D1321;
    text-align: center;
}
/*  */
.sub-contain{
    display: flex;
    justify-content: space-between;
    /* gap:24px; */
    width: 946px;
    height: 336px;
    padding:30px;
    margin:0 auto;
}
.contain-area{
    background-color: #fff;
    border-radius: 16px;
    width: 477px;
    height: 219px;
    padding:25px;

}
.sub-contain .contain-area-title{
    font-size:24px;
    font-weight:bold;
    color:#0D1321;
}
.sub-contain .contain-area-description{
    font-size:16px;
    font-weight: 400;
    color:#0D1321;
}


.sub-contain .image-area{
    width: 259px;
    height: 217px;
}

.sub-contain .btn-1{
    background-color: #fff;
    padding: 14px 20px;
    font-size:20px;
    font-weight: 400px;
    color:#0D1321;
}
/* inspiration style */
.inspiration{
    text-align: center;
}
.title{
    width: 852px;
    height: 52px;
    margin:0 auto;
    margin-bottom: 80px;
}
.title .ins-title{
    font-size: 32px;
    font-weight: bold;
    color:#0D1321;
    text-align: center;
}
.title .ins-title-description{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321;
    text-align: center;
}


.ifreame{
    text-align: center;
    padding:32px;
}
.border-radius{
    border-radius: 16px;
}
/* inspiration style end */
.main-contain{
    
}
.top-contain{
    width: 1140px;
    height: 460px;
    margin:0 auto;

}
.title-contain{
    text-align: center;
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.title-contain .title-contain-area{
    font-size: 32px;
    font-weight: bold;
    color:#0D1321;
}
.title-contain .title-contain-description-area{
    font-size:16px;
    font-weight: 400;
    color:#0D1321;
}
/* ------------------------- */

.skill-contain{
    display: flex;
    gap:15px;
}
.skills{
    background-color: #f6f5f5;
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding:20px;
    line-height: 2;
    margin-bottom:110px;
}
.skills .skills-title{
    font-size:24px;
    font-weight: bold;
    color:#0D1321;
}
.skills .skills-description{
    font-size:16px;
    font-weight: 400;
    color:#0D1321;
}
.btn-skills button{
    font-size:16px;
    font-weight: bold;
    border:none;
    text-decoration: underline;
}
/* --------------- */
